<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>CCC_v1.UsersCCC</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginAdmin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginNonAdmin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>putUser1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getUsers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postUserAdmin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postUserNonAdmin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postUserConflict</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>CCC_v1.UsersMachine</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getMachineUsers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteMachineUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postMachineUser3AssignedToGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>putMachineUser1AddAdditionalFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postMachineUser2WithOptionalFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postMachineUser1OnlyRequiredFields</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
