<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Restassured</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98cf9b">  <td>20/12/17 15:02:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.getTokenAuthTest()[pri:0, instance:platformV1.Login@550ee7e5]">getTokenAuthTest</td> 
  <td>main@1636050357</td>   <td></td> </tr>
<tr bgcolor="98cf9b">  <td>20/12/17 15:02:30</td>   <td>2980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.getTokenInvalidPasswordTest()[pri:0, instance:platformV1.Login@550ee7e5]">getTokenInvalidPasswordTest</td> 
  <td>main@1636050357</td>   <td></td> </tr>
<tr bgcolor="98cf9b">  <td>20/12/17 15:02:31</td>   <td>4075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.getTokenInvalidUserTest()[pri:0, instance:platformV1.Login@550ee7e5]">getTokenInvalidUserTest</td> 
  <td>main@1636050357</td>   <td></td> </tr>
<tr bgcolor="63bcb1">  <td>20/12/17 15:02:32</td>   <td>5189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpaceXGraphQL.t1_getMissionsTest()[pri:0, instance:platformV2.SpaceXGraphQL@5f9b2141]">t1_getMissionsTest</td> 
  <td>main@1636050357</td>   <td></td> </tr>
<tr bgcolor="63bcb1">  <td>20/12/17 15:02:33</td>   <td>5797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpaceXGraphQL.testGraphQLGetRequestWithValidDetails()[pri:0, instance:platformV2.SpaceXGraphQL@5f9b2141]">testGraphQLGetRequestWithValidDetails</td> 
  <td>main@1636050357</td>   <td></td> </tr>
</table>
